/* Whole Container */
#container {
  width: 750px;
  margin: 0 auto;
  font-family: Lucida Grande, Tahoma, Arial, Helvetica, sans-serif; /* Lucida Grande for the Macs, Tahoma for the PCs */
  font-size: 11px;
  line-height: 1.6em;
  color: #666;
  background-color: #FFF;
}

/* GENERAL */
h1, h2 {
  color: #666666;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFF;
  text-transform: capitalize;
}
a {
  color:#CC6714;
  text-decoration: none;
}
a:hover {
  color:#CC6714;
  background-color: #F5F5F5;
}
input, .search-form input {
  background-color: #FFF;
  color: #999999;
  border: 1px solid #CCC;
  font-size: 11px;
  padding: 2px;
  margin: 2px 0px 2px 0px;
}
#search .form-submit {
  padding: 1px 2px 1px 2px;
  margin: 2px 0px 2px 0px;
}
		
/* HEADER ELEMENTS */
#header {
  border-bottom: 4px solid #948979;
  margin: 10px 0 10px 0;
}
#header h1 {
  font-size: 32px;
  color: #CC6633;
}
/* the slogan */
#header p { 
  margin: -17px 0 8px 30px;
  color: #999999;
}
#search {
  float:right;
  margin: -45px 0px 0px 0px;
  font-size: 9px;
}
/* sidebar-left ELEMENTS */
#sidebar-left {
  margin-left: 0;
  padding-left: 0;
  float: left;
  width: 160px;
}
#sidebar-left ul {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  list-style-type: none;			
  width: 140px;
}
#sidebar-left li li a {
  margin: 0px 0px 0px 15px;
  width: 125px;
}
#sidebar-left li li li a {
  margin: 0px 0px 0px 30px;
  width: 110px;
}
#sidebar-left a {
  display: block;
  margin: 0px 0px 0px 0px;
  padding: 5px;
  width: 140px;
  border-bottom: 1px solid #CCC;
  text-transform: capitalize;
}
.navlist a:visited {
  color:#CC6714;
  text-decoration: none;
}
#sidebar-left a:link {
  color:#CC6714;
  text-decoration: none;
}
#sidebar-left a:hover {
  background: #000000 url(images/arrow.gif) 96% 50% no-repeat;
  background-color: #F5F5F5;
  color:#CC6714;
}
/* THE SMALL BOX BELOW NAV */
#sidebar-left p {
  padding: 5px;
  border-bottom: 1px dotted #CCC;
  border-top: 1px dotted #CCC;
}
		
/* CONTENT ELEMENTS */
/* admin content layout */
#content.admin {
  width: 570px;
}
#content {
	width: 362px;
	float: left;
	margin: 0px 0px 0px 20px;
	overflow: hidden;
}
.breadcrumb {
  text-align: left;
	color: #999999;
  padding: 0px 0px 0px 0px;
}
.breadcrumb a:link, .breadcrumb a:visited {
	color: #999999;
	text-decoration: none;
}
.breadcrumb a:hover {
	color: #aaaaaa;
	text-decoration: none;
}
h1.title {
	margin: 5px 0px 5px 0px;
}
#mission {
  padding: 6px 12px 6px 12px;
  background-color: #f9f9f9;
  color: #607080;
}
#content h2 a:link, #content h2 a:visited {
  color: #666666;
}
#content h2 a:hover {
  color: #CC6714;
}
#content p {
  padding-bottom: 10px;
  border-bottom: 1px solid #DDDDDD; /* A faint grey line below the text */
}
div.dashboard-container1 {
	overflow: hidden;
}
div.dashboard-container2 {
	overflow: hidden;
}
div.dashboard-panel-head {
  background-color: #adadad;
  color: #FFFFFF;
  font-weight: bold;
}

/* SIDEBAR-right ELEMENTS */
#sidebar-right {
  float: right;
  width: 175px;
}
#sidebar-right p {
  padding-bottom: 10px;
  border-bottom: 1px solid #DDDDDD;
}

/* calendar ELEMENTS */
#sidebar-left .calendar a, .calendar a  {
	text-decoration: none;
	display: inline;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	width: inherit;
	border: none;
	text-transform: none;
}
.calendar td, .calendar th {
  padding: 0.4em 0;
  border-color: #888;
}
.calendar .day-today {
  background-color: #ccc;
}
.calendar .day-today a {
  color: #fff;
}
.calendar .day-selected {
  background-color: #ddd;
  color: #fff;
}
.calendar .header-week {
  background-color: #ccc;
}
.calendar .day-blank {
  background-color: #ccc;
}
.calendar .row-week td a:hover {
  background-color: #fff; color: #000;
}

/* FOOTER ELEMENTS */
#footer {
  margin-top: 20px;
  clear: both;
  background-color:#575352;
  padding: 0px 5px 0px 5px;
}
#footer p {
  color:#89817f;
  padding: 5px;
}
#footer p a {
  color: #89817f;
  border-bottom: 1px dotted #89817f;
}
#footer p a:hover {
  color: #FFFFFF;
  background-color:#575352;
}
